<template>
    <require from="views/views.css"></require>
    <h1>${project.name}</h1>
    <hr/>
    <h2>Views</h2>
    <hr/>
    <a route-href="route:view-details-add">Add View</a>
    <hr/>
    <div class="row">
        <div class="col col-xs-4">Name</div>
        <div class="col col-xs-8">Path</div>
    </div>
    <div class="row" repeat.for="v of existingViews">
        <div class="col col-xs-4">${v.name}</div>
        <div class="col col-xs-8">${v.path_display}</div>
        <div class="col col-xs-12">
            <a route-href="route:view-details-edit;params.bind:{viewId: v.id}">Edit</a>
            &nbsp;|&nbsp;
            <a click.delegate="remove(m._id, $index)">Delete</a>
        </div>
    </div>
</template>