<template>
    <!--<require from="__path__/__modelNameCamelCase__-details.css"></require>-->
    <h2>${model.nameCapitalize} Details</h2>
    <div class="form-group" repeat.for="p of model.properties">
        <label>${p.name}: </label>
        <input if.bind="!p.controlType || p.controlType==='text'" type="text" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}"
            class="form-control" />

        <input if.bind="p.controlType==='checkbox'" type="checkbox" data-t-attr-checked-bind="${model.nameCamelCase}.${p.name}" />

        <input if.bind="p.controlType==='radio-button'" type="radio" data-t-attr-checked-bind="${model.nameCamelCase}.${p.name}"
        />

        <input if.bind="p.controlType==='date'" type="date" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}" class="form-control"
        />

        <input if.bind="p.controlType==='time'" type="time" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}" class="form-control"
        />

        <input if.bind="p.controlType==='datetime'" type="datetime-local" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}"
            class="form-control" />

        <input if.bind="p.controlType==='email'" type="email" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}" class="form-control"
        />

        <input if.bind="p.controlType==='number'" type="number" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}" class="form-control"
        />

        <input if.bind="p.controlType==='file'" type="file" data-t-attr-files-bind="${model.nameCamelCase}.${p.name}" class="form-control"
            data-t-attr-eval="${p.isArray ? 'multiple' : ''}" />

        <textarea if.bind="p.controlType==='textarea'" data-t-attr-value-bind="${model.nameCamelCase}.${p.name}" class="form-control"></textarea>

        <template if.bind="p.controlType==='select'">
            <select data-t-attr-value-bind="${model.nameCamelCase}.${p.name}" class="form-control" data-t-attr-eval="${p.isArray ? 'multiple' : ''}">
                <option>- Select - </option>
                <option data-t-attr-repeat-for="opt of ${p.datasource.model.namePluralCamelCase}" data-t-attr-model-bind="opt.${p.datasourceValue}">${'${opt.' + p.datasourceText + '}'}</option>
            </select>
            <section class="template-settings">
                Datasource:
                <select value.bind="p.datasource" matcher.bind="datasourceMatcher">
                    <option>- Datasource - </option>
                    <option repeat.for="m of complexTypes" model.bind="{index:$index, model: m}">${m.namePluralCamelCase}</option>
                </select>
                Value:
                <select value.bind="p.datasourceValue">
                    <option>- Value - </option>
                    <option>_id</option>
                    <option repeat.for="p of complexTypes[p.datasource.index].properties">${p.name}</option>
                </select>
                Text:
                <select value.bind="p.datasourceText">
                    <option>- Text - </option>
                    <option repeat.for="p of complexTypes[p.datasource.index].properties">${p.name}</option>
                </select>
            </section>
        </template>
    </div>
    <div class="action-ribbon">
        <button class="btn btn-primary" click.delegate="save()">Save</button>
        <button class="btn btn-default" data-t-attr-route-click="route:${model.namePluralKebab}">Cancel</button>
    </div>
</template>