<template>
    <section id="ts-template">
        <pre>{
    route: "/__path__",
    moduleId: "__path__/__modelNamePluralKebab__",
    title: "__modelNamePluralCapitalize__",
    name: "__modelNamePluralKebab__",
    elementId: "__modelNamePluralKebab__"
},
{
    route: "/__path__/add",
    moduleId: "__path__/__modelNameKebab__-details",
    title: "Add __modelNameCapitalize__",
    name: "__modelNameKebab__-details-add",
    elementId: "__modelNameKebab__-details"
},
{
    route: "/__path__/:__modelNameCamelCase__Id",
    moduleId: "__path__/__modelNameKebab__-details",
    title: "__modelNameCapitalize__ Details",
    name: "__modelNameKebab__-details-edit",
    elementId: "__modelNameKebab__-details"  
}</pre>
    </section>
</template>